@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    background: url("/static/images/mainbg.jpeg") no-repeat center center/cover;
}

.head{
    margin-top: 50px;
}

#editr, #ip, #op{
    font-size: 14px;
    font-family: "consolas";
}