<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="icon" href="/static/images/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">
    <link rel="stylesheet" href="/static/css/aboutus.css">
</head>
<body>
    <div class="container">
        <form>
            <h1 >About Us</h1>
            <div class="contact-info" style="padding-right: 20px;">
                <div><i class="fas fa-check-square"></i>This Platform is a <strong style="font-size: 22px; font-style: italic;">Code Execution Engine</strong>.</div>
                <div><i class="fas fa-check-square"></i>For Now, This Platform supports only <strong style="font-size: 22px; font-style: italic;">C++</strong> Language.</div>
                <div><i class="fas fa-check-square"></i>This provides <strong style="font-size: 22px; font-style: italic;">REST APIs</strong>  as well as an <strong style="font-size: 22px; font-style: italic;"> IDE</strong> to <strong style="font-size: 22px; font-style: italic;">Code, Compile and Run</strong>.</div>
                <div><i class="fas fa-check-square"></i>This Platform was used in <strong style="font-size: 22px; font-style: italic;">INNOVAC’22</strong> for <strong style="font-size: 22px; font-style: italic;">Code Submissions</strong>.</div>
                <div><i class="fas fa-check-square"></i>This Platform built with <strong style="font-size: 22px; font-style: italic;">Flask</strong> framework in Python and Running on the Top of a <strong style="font-size: 22px; font-style: italic;">Linux Machine</strong>.</div>
            </div>
        </form>
    </div>
</body>
</html>