<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API Documentation</title>
    <link rel="icon" href="/static/images/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">
    <link rel="stylesheet" href="/static/css/apidoc.css">
</head>
<body>
    <div class="container">
        <form>
            <h1>API Documentation</h1>
            <div class="contact-info">
                <div><i class="fas fa-check-square"></i>User have to Send <strong style="font-size: 22px; font-style: italic;">Code ID, Time Limit & Input</strong> through <strong style="font-size: 22px; font-style: italic;">Post Request</strong> at the Route <strong style="font-size: 22px; font-style: italic;">/get_output</strong>.</div>
                <div><i class="fas fa-check-square"></i>On the <strong style="font-size: 22px; font-style: italic;"> Response</strong>, You will get <strong style="font-size: 22px; font-style: italic;">Status & Output</strong>. </div>
                <div><i class="fas fa-check-square"></i>This Platform will ensure there is <strong style="font-size: 22px; font-style: italic;">No Overlapping</strong> between multiple User Submissions.</div>
            </div>
        </form>
    </div>
</body>
</html>